.indicator {
  max-width: 2px;
  background-color: $color-darkblue;
  position: relative;

  img {
    transform: rotate(90deg);
    width: 4px;
    position: absolute;
    top: -2px;
    left: -1px;
  }
}
