.production {
  width: 100%;
  padding-top: $process-section-padding;
  border-top: $process-section-border;

  ::v-deep {
    &.design {
      .process {
        opacity: 0.8;
        background-color: $color-gray9;
      }
    }

    &.approval {
      .process {
        opacity: 0.6;
        background-color: $color-gray9;
      }
    }

    &.print-prodction {
      .process {
        opacity: 0.4;
        background-color: $color-gray9;
      }

      .description {
        white-space: nowrap;
      }
    }
  }
}
