.margin {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .text-margin {
    color: $color-stoodio-toolbartext;
    width: 95px;
    font-size: $md-size;
    font-family: $font-500;
    padding: 15px 10px 0 0;
  }
  .box-margin {
    color: $color-gray13;
    font-size: $xsm-size;
    font-family: $font-300;
    margin-right: 15px;
    width: 80px;
    &:last-child {
      margin-right: 0px;
    }
  }
  ::v-deep.pp-combobox {
    .v-input__control {
      max-width: 80px;
      .v-input__slot {
        padding: 0;
      }
    }
  }
}
