.poster-frame-container {
  margin-top: 8px;
  .control-group {
    // temporary disable this component
    .pp-range-slider-container {
      opacity: 0.4;

      & + div {
        opacity: 0.4;
      }
    }
    // END temporary code

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 10px;
    font-family: $font-500;
  }

  .thumbnail {
    width: initial;
    max-width: 250px;
    height: 47px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    .remove-icon {
      height: 13px;
      width: 13px;
      border-radius: 50%;
      background-color: $color-gray26;
      color: $color-black;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      line-height: 0;
      font-weight: bold;

      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }

  .pp-range-slider-container {
    width: 100%;
    margin: 5px 0 13px;
  }

  .v-btn {
    border-color: $color-gray15;
    border-radius: 3px;
    width: 86px;
    height: 25px;
    text-transform: capitalize;
    font-size: 11px;
    font-family: $font-500;
    color: $color-stoodio-toolbartext;
    letter-spacing: 0;
    align-self: flex-end;
  }
}
