$padding-top: 5px;
$padding-bottom: 2px;

.section {
  width: 100%;
  padding-top: 5px;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    ::v-deep {
      .process-body-wrapper {
        margin-bottom: -2px;
        border-bottom: none;
      }
    }
  }

  ::v-deep {
    .process-body-wrapper {
      margin-bottom: -3px;
      border-bottom: 1px solid $color-gray8;
    }

    .section-process {
      padding-top: $padding-top;
      padding-bottom: $padding-bottom;
      border: none;

      .process {
        .process-bar {
          .blocks {
            .block[data-process='approved'] {
              border-radius: 0;
            }
          }
        }
      }

      .description {
        margin-top: -1px;
        padding-left: 0;
      }
    }

    .section-due-date {
      width: 0 !important;
      margin-left: -0.5px;
      padding-top: $padding-top;
      padding-bottom: $padding-bottom;
      border: none;

      .process {
        height: 30%;
        border-left: $process-section-border2;
      }

      .description {
        margin-top: 3px;
        font-family: $font-500;
      }

      .navi {
        display: none;
      }
    }
  }
}
