$padding-top: 5px;
$padding-bottom: 2px;

.section {
  width: 100%;
  padding: 2px 0;

  ::v-deep {
    .section-process {
      padding-top: $padding-top;
      padding-bottom: $padding-bottom;
      border: none;

      .process {
        .process-bar {
          .blocks {
            .block[data-process='approved'] {
              border-radius: 0;
            }
          }
        }
      }

      .description {
        margin-top: -1px;
        padding-left: 0;
      }
    }

    .section-due-date {
      width: 0 !important;
      padding-top: $padding-top;
      padding-bottom: $padding-bottom;
      border: none;

      .process {
        border-left: $process-section-border2;
      }

      .description {
        margin-top: 3px;
        font-family: $font-500;
      }

      .navi {
        display: none;
      }
    }
  }
}
