.modal-reset-layout {
  .modal-reset-layout-title {
    font-family: $font-500;
    font-size: 15px;
    text-align: center;
    color: #4a4844;
    div {
      margin-bottom: 18px;
    }
  }
  .container-btn {
    margin-top: 40px;
    ::v-deep .pp-btn {
      width: 238px;
      height: 36px;
      margin: 0 auto;
    }
    .btn-cancel {
      margin-top: 10px;
      .pp-btn {
        background-color: $color-gray13;
        border-color: $color-gray13;
      }
    }
  }
}
