.confirm-action {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    font-size: 15px;
    font-family: $font-500;
    color: $color-gray5;
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 12px;
  }

  .btn {
    font-size: 11.5px;
    font-family: $font-500;
    color: $color-white;
    background-color: $color-stoodio-blue;
    border: 1px solid $color-stoodio-blue;
    border-radius: 6px;
    box-shadow: none;
    padding-block: 4px;
    width: 240px;
  }

  .show-again-message {
    margin-top: 5px;
    ::v-deep .v-label {
      font-size: 13px;
      font-family: $font-300;
      color: $color-gray18;
    }
  }
}
