@charset "utf-8";

@import '@/scss/variables';

.drag-control {
  display: flex;

  div {
    display: flex;
    flex-direction: column;

    span {
      display: inline-block;
      height: 5px;
      width: 5px;
      margin: 1px;
      background-color: $color-gray;
      border-radius: 50%;
    }
  }
}
