.pp-menu {
  margin-top: 32px;
  &.collapsed-summary {
    &::before {
      left: 69%;
    }
  }

  &.section-menu-top {
    &::before {
      border-top: 13px solid #fff;
      border-bottom: 0;
      top: 104%;
    }
  }
}
