.page-number {
  border-bottom: 1px solid #bcbec0;
  padding: 10px;
  &-title {
    font-family: $font-500;
    margin-bottom: 5px;
  }
  &-container {
    display: flex;

    .status-page-number {
      width: 90px;
      margin-right: 15px;
      .v-input {
        .v-input__control > .v-input__slot {
          padding: 0 8px;
        }
      }
    }
    .position-page-number {
      width: 195px;
      .v-input {
        .v-input__control > .v-input__slot {
          padding: 0 8px;
        }
      }
    }
  }
}
