.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &-title {
    color: #565656;
    font-size: 14px;
    line-height: 17px;
  }

  &-content {
    text-decoration: none;
    font-size: 15px;
    color: #42738d;
    font-family: $font-500;
    line-height: 18px;
  }
}
