@charset "utf-8";

$white: #ffffff;
$gray: #bbbbbd;

$padding: 20px;

$border: 1px solid $gray;

%no-padding-margin {
  padding: 0;
  margin: 0;
}
%boder-padding {
  border-top: $border;
  padding: 16px 0;
}
%btn-border{
    border: 0.5px solid #D1D3D4;
    border-radius: 2px;
}
