.eye-dropper {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .review-color {
    position: absolute;
    width: 30px;
    top: -50px;
    left: 15px;
    height: 30px;
    border: 1px solid $color-gray5;
  }
}
