.screen-edition {
  width: calc(100% - 167px);
  height: calc(100vh - 161px);
  padding: 0;
  border-left: 1px solid $color-gray6;
  background: $color-white4;
  display: flex;
  flex-direction: column;

  .digital-canvas-container {
    margin: 24px;
    position: relative;
    overflow: auto;
    height: calc(100% - 190px);
    .digital-canvas {
      box-shadow: 1px 1px 3px 1px rgba($color-black, 0.25);
      background-color: $color-white;
    }
  }
}
@media only screen and (max-width: 1600px) {
  .screen-edition {
    .digital-canvas-container {
      margin: 20px;
      height: calc(100% - 160px);
    }
  }
}
@media screen and (max-width: 1366px) {
  .screen-edition {
    .digital-canvas-container {
      margin: 15px;
      height: calc(100% - 133px);
    }
  }
}
