.process-header {
  width: 120px;
  min-width: 120px;
  height: 30px;
  margin-right: 14px;
  padding: 8px 10px;
  color: $color-white;
  line-height: 14px;
  font-size: $sm-size;
  background-color: $color-gray9;
}
