.thumbnail-view-header {
  &.disabled {
    & > div {
      pointer-events: none;
    }
  }

  &:not(.disabled) {
    & > div {
      cursor: pointer;
    }
  }

  .header-container {
    margin-left: -8px;
    display: flex;
    align-items: center;
    font-size: 10px;
  }
  .sheet-container > div {
    margin-bottom: 13px;
  }
  & > div {
    align-items: center;

    .header-color {
      width: 8px;
      height: 8px;
      border-radius: 100%;
    }
    .header-name {
      font-family: $font-300;
      max-width: 85px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color-gray5;
    }
    span {
      font-family: $font-300;
      margin-left: 5px;
    }
    .v-icon {
      color: $color-stoodio-toolbartext;
    }
  }
}
