.pp-btn {
  font-size: $sm-size;
  font-family: $font-500;
  text-decoration: none;
  height: 26px;
  color: #42738d;
  border: 0.5px solid #42738d;
  border-radius: 6px;
  min-width: 120px;
  opacity: 0.5;

  &.active {
    font-family: $font-700;
    color: #ffffff;
    background-color: #42738d;
    opacity: 1;
  }
}
