#mapping-settings {
  // background-color: green;
  font-family: $font-300;
  font-size: 11px;
  p {
    margin-bottom: 2px;
  }

  .group {
    margin-bottom: 15px;
  }
  a {
    color: $color-stoodio-blue;
    font-family: $font-500;
  }
}
