.pp-menu {
  margin-top: 35px;
  contain: initial;
  overflow: visible;
  box-shadow: 0px 0px 8px #0000005f;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 4px;
    height: 13px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 13px solid #fff;
  }

  &.point-down-menu::before {
    top: initial;
    bottom: -24px;
    left: 67%;
    border-bottom: initial;
    border-top: 13px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
  }

  .v-list {
    border-radius: 4px;
    &-item {
      padding: 0 10px;
      .menu-item {
        border-bottom: 0.5px solid $color-gray2;
      }
    }
  }
}
