.thumbnail-view-header {
  .header-container {
    margin-left: -8px;
    display: flex;
    align-items: center;
    font-size: 10px;
  }
  .sheet-container > div {
    margin-bottom: 13px;
  }
  & > div {
    align-items: center;
    cursor: pointer;
    .header-color {
      width: 8px;
      height: 8px;
      background-color: brown;
      border-radius: 100%;
    }
    .header-name {
      font-family: $font-300;
      max-width: 85px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #565656;
    }
    span {
      font-family: $font-300;
      margin-left: 5px;
    }
    .v-icon {
      color: #58595b;
    }
  }
}
