.prompt {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $color-white5;
  z-index: 99;
  border-radius: 4px;
}
.modal-body {
  &::v-deep {
    .v-tabs-bar {
      height: 66px;
      background-color: $color-gray25 !important;
      .v-tab {
        text-transform: none;
        font-family: $font-500;
        font-size: $md-size;
        flex-direction: column;
        border-left: 1px solid $color-gray4;
        .v-icon {
          font-size: 20px;
        }
        &:before {
          background-color: transparent;
        }
        &.v-tab--active {
          background: $color-stoodio-blue;
          .light {
            background-image: url('~@/assets/icons/lightbulb-2.svg');
          }
        }
        .light {
          width: 20px;
          height: 20px;
          background-size: cover;
          background-image: url('~@/assets/icons/lightbulb.svg');
        }
      }
    }
    .v-tabs-items {
      height: 587px;
      .v-window-item {
        height: 100%;
      }
    }
  }
}

.modal-body.media {
  &::v-deep {
    .got-it-container {
      left: 50px;
    }
  }
}
.v-dialog__content {
  ::v-deep.v-dialog.modal-add-photo {
    position: relative;
  }
}

@media only screen and (max-width: 1600px) {
  .modal-body {
    &::v-deep {
      .v-tabs-items {
        height: calc(100vh - 220px);
      }
    }
  }
}

@media (max-width: 1366px) {
  .modal-body {
    &::v-deep {
      .v-tabs-items {
        height: calc(100vh - 210px);
      }
    }
  }
}
