.page-title {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  .pp-select {
    ::v-deep.v-input__control {
      max-width: 61px;
      .v-input__slot {
        padding: 0px;
      }
    }
  }
  ::v-deep.title-content {
    display: flex;
    align-items: center;
    padding: 0;
    .project-title {
      font-size: $md-size;
      margin: 0 6px 0 0;
    }
    input {
      width: 315px;
      height: 30px;
      border: 1px solid rgba($color-gray15, 0.6);
      margin-right: 14px;
    }
    &.disabled {
      input {
        opacity: 0.6;
      }
    }
  }
}
