.general-container {
  & > div {
    padding: 10px;
    border-bottom: 1px solid $color-gray15;
  }

  .video-animation {
    background-color: $color-stoodio-lightgray;
    padding-right: 26px;

    .animation-title {
      color: $color-stoodio-toolbartext;
      font-family: $font-500;
      font-size: 11px;
      margin-bottom: 5px;
    }

    .horizontal-line {
      margin-block: 9px;
      border-bottom: 1px solid $color-gray15;
    }
  }
}
