.modal-saved-style {
  &::v-deep {
    .v-dialog {
      background-color: white;
      border-radius: 17px;
    }
  }

  &.v-dialog__container {
    display: block;
  }

  .saved-message {
    font-family: $font-500;
    font-size: 21px;
    text-align: center;
    padding: 70px;
    color: $color-stoodio-blue;
  }
}
