.pp-background-select-page-type {
  display: flex;
  align-items: center;

  &-title {
    margin-top: 2px;
    margin-right: 10px;
    font-family: $font-300;
    font-size: 11px;
  }

  .pp-select {
    width: 172px !important;

    &::v-deep {
      .v-input__control {
        .v-input__slot {
          margin-bottom: 0;
        }
      }
    }
  }
}
