.pp-background-select-page-type {
  display: flex;
  align-items: center;

  &-title {
    margin-right: 10px;
    font-family: $font-300;
    font-size: 11px;
  }

  .pp-select {
    width: 172px !important;

    .v-input__slot {
      margin-bottom: 0 !important;
    }
  }
}
