.name {
  display: flex;

  &.under-portrait {
    height: var(--name-height);
    width: 100%;
    text-align: center;
    line-height: 1px;
    font-size: 8px;

    div {
      white-space: nowrap;
    }
  }

  .space::after {
    content: '\00a0';
  }
}
