.control-container {
  .control-group {
    display: flex;
    justify-content: center;
    margin-top: -13px;
    margin-bottom: -6px;

    .v-btn {
      color: $color-stoodio-toolbartext;
      height: 30px;
      min-width: 30px;
      padding: 0 10px;
      column-gap: 2px;

      .v-icon {
        font-size: 24px;
      }

      &:nth-of-type(2) .v-icon {
        font-size: 26px;
      }
    }
  }
}
