.btn-exit {
  width: 70px;
  background: #42738d;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .arrow-left {
    margin-bottom: 2px;
    width: 14px;
  }

  .text {
    color: #f7f7f7;
    font: normal normal normal 8px/8px $font-300;
  }
}
