.book {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #808184;

  &-information {
    background: #c3d2d9;
    justify-content: space-between;
    height: 42px;
  }

  &-control {
    justify-content: center;
    height: 45px;
    .pp-btn {
      text-transform: uppercase;
    }
  }
}
