$border: 1px solid #bbbbbd;
%btn-border {
  border: 1px solid #d1d3d4;
  border-radius: 2px;
}

.item-tool {
  margin-left: 15px;
  border-right: $border;
  display: flex;
  align-items: center;
  .item {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-right: 15px;
    width: 38px;
    .item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      cursor: pointer;
      width: 100%;
      @extend %btn-border;
      .v-icon {
        font-size: 18px;
        color: #58595b;
      }
    }
  }
}
