.thumbnail-view-footer {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 6px;
  justify-content: space-between;
  align-items: center;
  color: $color-gray2;
  font-family: $font-300;
  font-size: $xs-size;

  &.disabled {
    pointer-events: none;
  }

  &.digital {
    justify-content: space-around;

    .editor {
      justify-content: flex-start;
    }
  }

  &.editor {
    margin-bottom: 13px;

    .name-page {
      font-size: 8px;
    }
  }

  .link-status {
    margin-top: -2.5px;
    margin-bottom: -2.5px;
    cursor: pointer;

    .icon-link {
      font-size: 20px;
      font-weight: 600;
      color: $color-gray14;

      &.unlink {
        color: $color-stoodio-toolbartext;
      }
    }
  }
}
