@charset "utf-8";

@import '@/scss/variables';

.manager-main {
  .manager-section-list {
    .section-details-wrapper {
      .section-details {
        .indicator {
          height: 140px;

          &.indicator-left {
            margin-left: -40px;
            margin-right: 38px;
          }

          &.indicator-right {
            margin-left: 38px;
            margin-right: -40px;
          }
        }

        .sheet-box {
          flex-basis: $length-sheet;
          flex-grow: 0;
          float: left;
          margin: $length-sheet-padding;
          margin-bottom: 0;

          .sheet {
            height: 140px;
            border: 1px $color-gray2 solid;

            &:hover {
              cursor: pointer;
              background-color: $color-white2;
              border-color: $color-gray3;
            }

            .drag-control {
              margin: 2px;
            }
          }

          .vertical {
            width: 50%;
            max-width: 50%;
            margin: auto;
          }

          .horizontal {
            width: 100%;
          }

          .sheet-name {
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
  }
}
