$border-radius: 3px;
$container-border-radius: 4px;
$pointer: 7px;
$transform: $pointer / 2;

%slider-pointer {
  width: $pointer;
  height: $pointer;
  transform: translate(2.5px, 0);
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, inset 0 0 1px 1px rgb(0 0 0 / 30%),
    0 0 1.5px 3px rgb(0 0 0 / 40%);
}

.color-picker-container {
  width: 325px;
  position: absolute;
  top: 60px;
  right: $properties-width;
  padding: 10px;
  padding-left: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px #0000008c;
  border-radius: $container-border-radius;

  &::before {
    content: '';
    background-color: rgb(255, 255, 255);
    border-right: 1px solid white;
    border-top: 1px solid white;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0px;
    top: 185px;
    transform: translate(50%, -50%) rotate(45deg);
  }

  .vc-mix {
    .vc-mix-header-control {
      .vc-mix-color-wrap {
        border-color: $color-gray10;

        .vc-mix-color-label {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        #vc-mix-color-code {
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }

        #vc-mix-color-alpha {
          border-radius: $border-radius;
        }
      }
    }

    .vc-mix-main-control {
      .vc-mix-saturation-wrap {
        .vc-saturation {
          border-radius: $container-border-radius;

          .vc-saturation--white {
            border-radius: $container-border-radius;
          }

          .vc-saturation--black {
            border-radius: $container-border-radius;
          }

          .vc-saturation-circle {
            width: $pointer;
            height: $pointer;
            transform: translate(-$transform, -$transform);
            box-shadow: 0 0 0 2px #fff, inset 0 0 1px 1px rgb(0 0 0 / 30%),
              0 0 1.5px 3px rgb(0 0 0 / 40%);
          }
        }
      }

      .vc-mix-hue-wrap {
        .vc-hue {
          border-radius: $container-border-radius;

          .vc-hue-picker {
            @extend %slider-pointer;
          }
        }
      }

      .vc-mix-alpha-wrap {
        border-radius: $container-border-radius;

        .vc-alpha-picker {
          @extend %slider-pointer;
        }
      }
    }

    .vc-mix-presets {
      .vc-add-color-button {
        background-image: url('~@/assets/icons/plus-2.svg');
        background-position: 50%;
        border: none;
      }

      .vc-mix-presets-color {
        border-color: $color-gray10;
      }
    }
  }
}
