$gray: #bbbbbd;
$border: 1px solid $gray;
%btn-border {
  border: 0.5px solid #d1d3d4;
  border-radius: 2px;
}
.print-editor {
  .print-editor-tool {
    border-top: $border;
    padding: 6px 0 !important;
    align-items: center;
    justify-content: space-between;
    .tool-left,
    .tool-right {
      display: flex;
      .item-tool:last-child {
        border-right: none;
      }
      .item-tool:first-child {
        margin-left: 20px;
      }
    }
  }
}
