.pp-background-select-type {
  display: flex;
  align-items: center;

  &-title {
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 11px;
    font-family: $font-300;
  }

  .pp-select-multi {
    width: 234px;
  }
}
