.menu-button {
  padding: 15px 0 7px 0 !important;
  margin: 8px 10px 0 10px;

  &.btn-delete {
    border-top: 0.5px solid #8c8c8c;
  }

  button {
    font-family: $font-500;
    color: #565656;
    font-size: 13px;
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
}
