.menu-button {
  padding: 0 10px;

  button {
    font-family: $font-500;
    color: #565656;
    font-size: 13px;
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
}
