.feedback-bar {
  font-size: 11px;
  padding: 0;
  background-color: #4d4d4f;
  display: flex;
  position: relative;
  font-family: $font-300;

  .feedback-name,
  .feedback-text,
  .feedback-select,
  .feedback-title {
    display: flex;
    align-items: center;
    padding: 1px 13px;
    border-right: 1px solid #808184;
    color: #bbbdbf;
  }
  .feedback-text {
    min-width: 90px;
  }
  .feedback-value {
    margin-left: 4px;
    color: #ffffff;
    justify-content: space-between;
  }
  .feedback-select {
    width: 150px;
    select {
      color: #ffffff;
    }
    img {
      width: 10px;
      height: 10px;
    }
    .v-icon {
      color: #ffffff;
      top: -1px;
    }
  }
}
