.feedback-bar {
  font-size: 11px;
  padding: 0;
  background-color: #4d4d4f;
  display: flex;
  position: relative;
  font-family: $font-300;

  .feedback-name,
  .feedback-text,
  .feedback-select,
  .feedback-title {
    display: flex;
    align-items: center;
    padding: 1px 13px;
    border-right: 1px solid #808184;
    color: #bbbdbf;
  }
  .feedback-text {
    min-width: 90px;
  }
  .feedback-value {
    margin-left: 4px;
    color: white;
    justify-content: space-between;
  }

  .feedback-select {
    padding: 0px;
    width: 145px;

    .pp-combobox {
      .v-input__control {
        height: 24px;
        max-width: 145px;

        .v-input__slot {
          padding: 0;
          border: none;
          height: 24px;
          background: #4d4d4f;

          .v-select__slot {
            input {
              size: 11px;
              color: white;
            }
          }
        }
      }
    }
  }
}
