.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ml-20 {
  margin-left: 20px;
}

.icon-container {
  flex: 0 0 20%;
}

.mt-10 {
  margin-top: 10px;
}
