.upload-new-photos-container {
  height: 587px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    .notify {
      height: 20px;
      line-height: 20px;
      margin-bottom: 10px;
      font-family: $font-300;
      font-size: 13px;
      color: $color-red2;
    }
    .dropzone {
      width: 288px;
      height: 125px;
      border: 1px dashed $color-stoodio-toolbartext;
      line-height: 125px;
      text-align: center;
      font-family: $font-500;
      font-size: 11.5px;
      &.is-dragover {
        border: 2px solid $color-stoodio-blue;
      }
    }
    .button-upload-photo {
      width: 288px;
      margin-top: 19px;
      .label-upload-photo {
        height: 32px;
        display: block;
        border: 1px solid $color-stoodio-toolbartext;
        text-align: center;
        line-height: 32px;
        border-radius: 6px;
        font-family: $font-500;
        font-size: 11.5px;
        cursor: pointer;
      }
      .input-upload-photo {
        display: none;
      }
    }
  }
}
