.pp-select {
  .v-input__control {
    min-height: auto !important;
    .v-input__slot {
      min-height: auto;
      height: 25px;
      box-shadow: none !important;
      border: 1px solid #bcbec0;
      margin-bottom: 5px;

      .v-select__selection--comma {
        font-size: $md-size + 1;
      }
    }
    .v-text-field__details {
      display: none;
    }
  }

  .prepend-icon {
    width: 14px;
  }

  .v-input__prepend-outer {
    margin-top: 1px !important;
    height: 25px;
  }
}
