.group-item {
  width: 120px;

  .v-btn {
    display: flex;
    width: 100%;
    height: 26px;
    padding: 0;
    color: $color-white;
    text-transform: capitalize;
    line-height: $md-size;
    letter-spacing: 0.1px;
    font-size: $xsm-size;
    font-family: $font-500;
    background-color: $color-stoodio-blue;
    border: 1px solid $color-stoodio-blue;
    border-radius: 4px;
    box-shadow: none;

    &::before {
      display: none;
    }
  }
}
