.layouts-container {
  &-prompt {
    ::v-deep .tool-popover-header {
      &::before {
        border-bottom-color: #b3c7d1;
      }
    }
  }

  &.empty-layout-container {
    font-size: 25px;
    width: 100%;
    text-align: center;

    ::v-deep .tool-popover-content {
      overflow: hidden;
    }

    .empty-layout-content {
      display: flex;
      flex-wrap: wrap;

      .empty-layout-text {
        font-size: 16px;
        font-family: $font-500;
        position: absolute;
        left: 34%;
        top: 35%;
      }

      .layout-item {
        min-width: 225px;
        height: 172px;
        margin-right: 20px;
        margin-bottom: 20px;
        opacity: 0.4;
      }
    }
  }

  .prompt {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 99;
    border-radius: 4px;
  }

  ::v-deep .tool-popover-header {
    &::before {
      left: 71px;
    }
  }

  .pp-layouts-action-container {
    display: flex;
    padding: 0 18px 0 10px;
    height: 45px;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray15;

    ::v-deep .pp-selector-container {
      .pp-select,
      .pp-select-multi {
        width: 200px;

        .v-menu__content {
          max-height: 380px !important; /* override lib setting */
        }
      }
    }
  }

  .layout-item-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 65px;
    min-height: 240px;
    flex-wrap: wrap;
  }
}
