.image-style-container {
    position: relative;
    .select-box {
        padding: 8px 0;
        border-radius: 4px;
        background-color: $color-gray20;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .select-box-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            padding-left: 8px;
            .item-style {
                width: 66px;
                height: 66px;
                padding: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 50px;
                    height: 50px;
                }
                &.active {
                    cursor: default;
                    border: 2px solid $color-stoodio-blue;
                }
            }
        }

        .select-icon-dropdown {
            cursor: pointer;
            padding: 6px;
            img {
                width: 5px;
            }
        }
    }
    .dropdown-box {
        position: absolute;
        padding: 8px 0;
        border-radius: 4px;
        background-color: $color-gray20;
        display: flex;
        justify-content: space-between;

        z-index: 1;
        top: 23px;
        left: 12px;
        width: 296px;
        height: 238px;
        box-shadow: 0px 0px 6px #00000080;
        .dropdown-box-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
            flex: 1;
            padding: 0 17px 0 8px;
            flex-wrap: wrap;
            .item-style {
                width: 66px;
                height: 66px;
                padding: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 50px;
                    height: 50px;
                }
                &.active {
                    cursor: default;
                    border: 2px solid $color-stoodio-blue;
                }
            }
        }

        .select-icon-dropdown {
            cursor: pointer;
            padding: 6px;
            img {
                width: 5px;
            }
        }
    }
}
