.pp-select-sub {
  position: absolute;
  top: 0;
  left: calc(100% - 2px);
  z-index: 99999;
  min-width: 200px;
  box-shadow: 0 0 6px #00000080 !important;

  &--item {
    min-height: 20px;
    padding: 0 10px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &.item-selected {
      padding: 0;

      .v-list-item__title {
        span {
          color: $color-stoodio-toolbartext;
        }
      }
    }

    &.v-list-item--active,
    &:not(.item-selected):hover {
      background-color: $color-stoodio-blue;

      .v-list-item__content {
        color: $color-white;
      }
    }

    .icon-ative {
      margin-right: 5px;
      width: 10px;
      margin-bottom: 2px;
    }

    .v-list-item__action {
      margin: 0 5px 0 0 !important;
    }

    .v-list-item__content {
      padding: 0;
      span {
        font-size: $xsm-size;
        font-family: $font-500;
      }
    }
  }
}
