.frames-container {
  border-top: 1px solid $color-gray6;

  .frame-container {
    margin: 18px 24px;
    position: relative;

    &:nth-child(n + 2)::before {
      position: absolute;
      top: 0;
      left: -48px;
      content: '';
      display: block;
      width: 48px;
      height: calc(50% - 9px);
      border-bottom: 1px solid $color-gray6;
    }

    &:nth-last-child(1)::before {
      border-bottom: 1px dashed $color-gray6;
    }

    .frame-item {
      cursor: pointer;
      width: 160px;
      height: 95px;
      padding: 2px;
      opacity: 0.5;
      background: $color-white;

      border: 0.5px solid $color-gray6;
      position: relative;

      .frame-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.active {
        border: 2px solid $color-stoodio-blue;
        opacity: 1;
      }
    }

    .frame-item.add-frame {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: 1px dashed $color-gray6;

      .add-frame-content {
        font-size: 11px;
        font-family: $font-500;
        cursor: pointer;
      }

      .v-icon {
        font-size: 12px;
        color: $color-stoodio-toolbartext;
      }
    }

    .frame-name {
      font-family: $font-700;
      font-size: 10px;
      color: $color-gray5;
      padding-top: 2px;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .frames-container {
    .frame-container {
      margin: 12px 20px;

      &:nth-child(n + 2)::before {
        left: -41px;
        width: 40px;
      }

      .frame-item {
        width: 140px;
        height: 85px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .frames-container {
    .frame-container {
      margin: 10px 15px;

      &:nth-child(n + 2)::before {
        left: -31px;
        width: 30px;
      }

      .frame-item {
        width: 120px;
        height: 70px;
      }
    }
  }
}
