.preview-thumbnail {
  display: flex;
  width: 100%;
  height: 357px;
  padding: 12px 10px 8px 10px;
  flex-direction: column;
  align-items: center;
  border: 1px solid $color-gray17;

  .thumbnail {
    width: 242px;
    height: 314px;
    background: yellow;
  }

  .pages {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    color: $color-gray5;
    font-size: $xs-size;
    font-family: $font-300;

    .text {
      line-height: 12px;
    }

    .currentPage {
      font-family: $font-700;
    }

    .clickabe {
      cursor: pointer;
    }
  }
}
