.frames-container {
  height: $frame-container-height;
  min-height: $frame-container-height;
  border-top: 1px solid $color-gray6;

  .frame-row {
    display: flex;
    height: calc(100% - 6px);
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;

    &.actual {
      height: auto;
      flex-grow: 0;
      flex-shrink: 0;
      overflow: hidden;
    }
  }
}
