.frames-container {
  height: 23.5%;
  max-height: 145px;
  border-top: 1px solid $color-gray6;

  .frame-row {
    display: flex;
    height: calc(100% - 7px);
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;

    &.actual {
      flex-grow: 0;
      flex-shrink: 0;
      overflow: hidden;
    }
  }
}
