@charset "utf-8";

@import '@/scss/variables';

.indicator {
  > div {
    height: 2px;
    background-color: $color-darkblue;
    position: relative;
  }

  img {
    width: 4px;
    position: absolute;
    top: -3px;
  }
}
