$thumb-height: 400px;
$thumb-width: 713px;
$mask-length: 60px;
$mask-overlay: 5px;

#transition-preview {
  ::v-deep {
    .v-card__text {
      display: flex;
      height: 450px;
      justify-content: space-around;
      align-items: center;

      .container {
        position: relative;
        display: flex;
        width: $thumb-width;
        height: $thumb-height;
        justify-content: center;
        align-items: center;

        .wrapper,
        .thumb {
          width: 100%;
          height: 100%;
          background-size: cover;
          mask-repeat: no-repeat;
        }

        .wrapper {
          .thumb {
            position: absolute;
          }
        }

        .thumb-mask {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          mask-repeat: no-repeat;
        }

        /** ======= [PUSH] ======= **/

        /** [TOP BOTTOM] START **/
        .transition-1-2-enter-active {
          position: absolute;
          transform: translateY(-100%) translateY(-25px);
        }

        .transition-1-2-enter-to {
          transform: translateY(0);
        }

        .transition-1-2-leave-active {
          transform: translateY(0);
        }

        .transition-1-2-leave-to {
          transform: translateY(100%) translateY(25px);
        }
        /** [TOP BOTTOM] END **/

        /** [BOTTOM TOP] START **/
        .transition-1-3-enter-active {
          position: absolute;
          transform: translateY(100%) translateY(25px);
        }

        .transition-1-3-enter-to {
          transform: translateY(0);
        }

        .transition-1-3-leave-active {
          transform: translateY(0);
        }

        .transition-1-3-leave-to {
          transform: translateY(-100%) translateY(-25px);
        }
        /** [TOP BOTTOM] END **/

        /** [LEFT RIGHT] START **/
        .transition-1-0-enter-active {
          position: absolute;
          transform: translateX(-100%) translateX(-25px);
        }

        .transition-1-0-enter-to {
          transform: translateX(0);
        }

        .transition-1-0-leave-active {
          transform: translateX(0);
        }

        .transition-1-0-leave-to {
          transform: translateX(100%) translateX(25px);
        }
        /** [LEFT RIGHT] END **/

        /** [RIGHT LEFT] START **/
        .transition-1-1-enter-active {
          position: absolute;
          transform: translateX(100%) translateX(25px);
        }

        .transition-1-1-enter-to {
          transform: translateX(0);
        }

        .transition-1-1-leave-active {
          transform: translateX(0);
        }

        .transition-1-1-leave-to {
          transform: translateX(-100%) translateX(-25px);
        }
        /** [RIGHT LEFT] END **/

        /** ======= [MOVE IN] ======= **/

        /** [TOP BOTTOM] START **/
        .transition-2-2-enter-active {
          position: absolute;
          transform: translateY(-100%);
        }

        .transition-2-2-enter-to {
          transform: translateY(0);
        }
        /** [TOP BOTTOM] END **/

        /** [BOTTOM TOP] START **/
        .transition-2-3-enter-active {
          position: absolute;
          transform: translateY(100%);
        }

        .transition-2-3-enter-to {
          transform: translateY(0);
        }
        /** [TOP BOTTOM] END **/

        /** [LEFT RIGHT] START **/
        .transition-2-0-enter-active {
          position: absolute;
          transform: translateX(-100%);
        }

        .transition-2-0-enter-to {
          transform: translateX(0);
        }
        /** [LEFT RIGHT] END **/

        /** [RIGHT LEFT] START **/
        .transition-2-1-enter-active {
          position: absolute;
          transform: translateX(100%);
        }

        .transition-2-1-enter-to {
          transform: translateX(0);
        }
        /** [RIGHT LEFT] END **/

        /** ======= [DISSOLVE] ======= **/
        .transition-3--enter-active {
          position: absolute;
          opacity: 0;
        }

        .transition-3--enter-to {
          opacity: 1;
        }

        .transition-3--leave-active {
          z-index: 1;
        }

        .transition-3--leave-to {
          opacity: 0;
        }

        /** ======= [REVEAL] ======= **/

        /** [TOP BOTTOM] START **/
        .transition-4-2-enter-active {
          position: absolute;
        }

        .transition-4-2-leave-active {
          z-index: 1;
          transform: translateY(0);
        }

        .transition-4-2-leave-to {
          transform: translateY(100%);
        }
        /** [TOP BOTTOM] END **/

        /** [BOTTOM TOP] START **/
        .transition-4-3-enter-active {
          position: absolute;
        }

        .transition-4-3-leave-active {
          z-index: 1;
          transform: translateY(0);
        }

        .transition-4-3-leave-to {
          transform: translateY(-100%);
        }
        /** [TOP BOTTOM] END **/

        /** [LEFT RIGHT] START **/
        .transition-4-0-enter-active {
          position: absolute;
        }

        .transition-4-0-leave-active {
          z-index: 1;
          transform: translateX(0);
        }

        .transition-4-0-leave-to {
          transform: translateX(100%);
        }
        /** [LEFT RIGHT] END **/

        /** [RIGHT LEFT] START **/
        .transition-4-1-enter-active {
          position: absolute;
        }

        .transition-4-1-leave-active {
          z-index: 1;
          transform: translateX(0);
        }

        .transition-4-1-leave-to {
          transform: translateX(-100%);
        }
        /** [RIGHT LEFT] END **/

        /** ======= [WIPE] ======= **/

        .thumb {
          /** [TOP BOTTOM] START **/
          &.transition-5-2-leave-active {
            z-index: 1;
            clip-path: inset(0 0 0 0);
          }

          &.transition-5-2-leave-to {
            clip-path: inset(#{$mask-length + $thumb-height} 0 0 0);
          }
          /** [TOP BOTTOM] END **/

          /** [BOTTOM TOP] START **/
          &.transition-5-3-leave-active {
            z-index: 1;
            clip-path: inset(0 0 0 0);
          }

          &.transition-5-3-leave-to {
            clip-path: inset(0 0 #{$mask-length + $thumb-height} 0);
          }
          /** [TOP BOTTOM] END **/

          /** [LEFT RIGHT] START **/
          &.transition-5-0-leave-active {
            z-index: 1;
            clip-path: inset(0 0 0 0);
          }

          &.transition-5-0-leave-to {
            clip-path: inset(0 0 0 #{$mask-length + $thumb-width});
          }
          /** [LEFT RIGHT] END **/

          /** [RIGHT LEFT] START **/
          &.transition-5-1-leave-active {
            z-index: 1;
            clip-path: inset(0 0 0 0);
          }

          &.transition-5-1-leave-to {
            clip-path: inset(0 #{$mask-length + $thumb-width} 0 0);
          }
          /** [RIGHT LEFT] END **/
        }

        .thumb-mask {
          /** [TOP BOTTOM] START **/
          &.transition-5-2-enter-active {
            display: flex;
            z-index: 99;
            mask-size: $thumb-width $mask-length;
            mask-position: 0 #{$mask-overlay - $mask-length};
            mask-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 1)
            );
          }

          &.transition-5-2-enter-to {
            mask-position: 0 #{$mask-overlay + $thumb-height};
          }
          /** [TOP BOTTOM] END **/

          /** [BOTTOM TOP] START **/
          &.transition-5-3-enter-active {
            display: flex;
            z-index: 99;
            mask-size: $thumb-width $mask-length;
            mask-position: 0 #{- $mask-overlay + $thumb-height};
            mask-image: linear-gradient(
              to top,
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 1)
            );
          }

          &.transition-5-3-enter-to {
            mask-position: 0 #{- $mask-overlay - $mask-length};
          }
          /** [TOP BOTTOM] END **/

          /** [LEFT RIGHT] START **/
          &.transition-5-0-enter-active {
            display: flex;
            z-index: 99;
            mask-size: $mask-length $thumb-height;
            mask-position: #{$mask-overlay - $mask-length} 0;
            mask-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 1)
            );
          }

          &.transition-5-0-enter-to {
            mask-position: #{$mask-overlay + $thumb-width} 0;
          }
          /** [LEFT RIGHT] END **/

          /** [RIGHT LEFT] START **/
          &.transition-5-1-enter-active {
            display: flex;
            z-index: 99;
            mask-size: $mask-length $thumb-height;
            mask-position: #{- $mask-overlay + $thumb-width} 0;
            mask-image: linear-gradient(
              to left,
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 1)
            );
          }

          &.transition-5-1-enter-to {
            mask-position: #{- $mask-overlay - $mask-length} 0;
          }
          /** [RIGHT LEFT] END **/
        }
      }
    }
  }
}
