.auto-save {
  &__container {
    position: absolute;
    left: 150px;
    display: grid;
    place-items: center;
    width: 53px;
    height: 25px;
  }

  &__content {
    position: absolute;
  }

  &__text {
    font-family: $font-300;
    color: $color-stoodio-toolbartext;
    font-size: 9px;

    &.autosave-text {
      animation: fadeIn 4s ease-in forwards;
    }

    &.saved-text {
      width: 100%;
      animation: fadeIn 1.5s ease-in 3.8s both;
    }
  }

  &__bar {
    background-color: $color-stoodio-lightgray;
    width: 50px;
    height: 2px;
    margin-top: 4.5px;
    position: relative;
    animation: fadeIn 4s ease-in both;

    &::before {
      content: '';
      position: absolute;
      background-color: $color-stoodio-blue;
      width: 30;
      height: 2px;
      animation: progress-bar 3.7s cubic-bezier(0.07, 1.1, 0.68, 0.62) 0.5s both;
    }
  }
}

@keyframes progress-bar {
  0% {
    opacity: 0;
    width: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
