.confirm-action {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    font-size: 15px;
    font-family: $font-500;
    color: $color-gray5;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 12px;
  }

  .img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 165px;
    width: 250px;

    &.frame {
      height: 140px;
    }

    &.one-image {
      display: block;
    }

    .preview-thumb {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .img-title {
    font-size: 9px;
    font-family: $font-500;
    color: $color-gray9;
    width: 250px;
    margin-bottom: 0;

    p {
      margin-bottom: 0;
    }

    &--print {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: left;
    }
  }

  .btn {
    font-size: 11.5px;
    font-family: $font-500;
    color: $color-white;
    background-color: $color-stoodio-blue;
    border: 1px solid $color-stoodio-blue;
    border-radius: 6px;
    box-shadow: none;
    padding-block: 4px;
    width: 240px;
  }

  .btn.btn-action--gray {
    border-color: $color-gray13;
    background-color: $color-gray13;
  }

  .btn.btn-cancel {
    background-color: transparent;
    border-color: transparent;
    color: $color-gray5;
  }
}
