.thumbnail-view-thumbnail {
  width: 100%;
  border: 1px solid #8c8c8c;
  position: relative;
  background-color: #fff;
  flex-wrap: nowrap;
  border-radius: 29px 4px;
  overflow: auto;
  &.active {
    border: 2px solid #42738d;
  }
}

.thumbnail-edit {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #42738d;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
  .icon-edit {
    font-size: 20px;
    transform: translateY(-3px);
    color: #ffffff;
  }
  &:hover {
    border: 1px solid #42738d;
  }
}

.thumbnail-view-number-page {
  color: #8c8c8c;
  width: 100%;
  text-align: center;
  font-size: 8px;
  margin-top: 6px;
  font-family: $font-300;
}
.number-page {
  display: flex;
  align-items: center;
}
