.thumbnail-view-header {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  font-size: $sm-size;

  &.disabled {
    pointer-events: none;
  }

  &.editor {
    margin-bottom: 0;
    font-size: 10px;
    cursor: pointer;

    .header-container {
      margin-left: -8px;

      .header-content {
        width: 100%;

        .header-color {
          width: 8px;
          height: 8px;
        }

        .header-name {
          margin-left: 0;
          line-height: 24px;
        }
      }

      .header-more {
        display: none;
      }
    }
  }

  .header-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .header-content {
      display: flex;
      width: calc(100% - 25px);
      justify-content: flex-start;
      align-items: center;

      .header-color {
        width: 12px;
        height: 12px;
        border-radius: 100%;
      }

      .header-toggle {
        color: $color-stoodio-toolbartext;
      }

      .header-name {
        display: flex;
        width: calc(100% - 32px);
        margin-left: 8px;
        align-items: center;
        color: $color-gray5;
        font-family: $font-300;

        .name {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .total-item {
          font-family: $font-300;
          margin-left: 5px;
        }
      }
    }

    .header-more {
      display: flex;
      width: 18px;
      height: 18px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid $color-gray2;
      cursor: pointer;

      &:hover {
        border: 1px solid $color-black;
      }

      .icon-more {
        color: $color-gray2;
        font-size: 14px;
      }
    }
  }
}
