@charset "utf-8";

@import '@/scss/variables';

$border-album: 1px $color-gray2 solid;

.manager-main {
  .manager-section-list {
    .section-control {
      padding-top: 30px;
      font-family: $font-700;
      font-size: 12px;

      button {
        height: 32px;
        margin-right: 20px;
        color: $color-darkblue;
        text-transform: capitalize;
        border: 1px solid $color-darkblue;
        border-radius: 6px;
        box-shadow: none;

        &.btn-solid {
          color: $color-white;
          background-color: $color-darkblue !important;
        }

        img {
          margin-right: 10px;
        }
      }
    }
  }
}
