.page-edition {
  padding: 0;
  border-left: 1px solid #808184;
  height: 1000px;
  .container-edition {
    width: 80%;
    height: 750px;
    background: #fbccce;
    display: flex;
    margin: 20px 0 0 20px;
    position: relative;
    .canvas {
      width: 100%;
      margin: 45px 60px;
      background: white;
      border: 1px solid #ed1c24;
    }
    &::before {
      content: '';
      width: 20px;
      border-left: 1px solid #707070;
      border-right: 1px solid #707070;
      height: 100%;
      margin-left: calc(50% - 10px);
      position: absolute;
    }
  }
}
.page {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  height: 100%;
  .page-left,
  .page-right {
    height: 100%;
    width: 100%;
    border: 1px solid #27aae1;
  }
  .page-left {
    margin-right: 35px;
  }
  .page-right {
    margin-left: 35px;
  }
}
@media screen and (max-width: 1366px) {
  .page-edition {
    .container-edition {
      width: 75%;
      height: 580px;
    }
  }
}
