.page-edition {
  width: calc(100% - 168px);
  padding: 0;
  border-left: 1px solid #808184;
  .container-edition {
    position: relative;
    width: 1200px;
    height: 770px;
    display: flex;
    margin: 25px 0 0 25px;
    #page-left,
    #page-right {
      border-color: rgba(237, 28, 36, 0.2);
      border-style: solid;
      border-width: 10px;
    }
    #page-left {
      border-right: none;
    }
    #page-right {
      border-left: none;
    }

    &::before {
      content: '';
      width: 1px;
      background: #707070;
      height: 100%;
      margin-left: calc(50%);
      position: absolute;
      z-index: 1;
    }
    .page-container {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      position: absolute;
      margin: 10px;
      background: transparent;
      border: 1px solid #ed1c24;
    }
    .page {
      display: flex;
      justify-content: space-between;
      padding: 25px;
      height: 100%;
      &-left,
      &-right {
        width: 100%;
        border: 1px solid #27aae1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-left {
        margin-right: 30px;
      }
      &-right {
        margin-left: 30px;
      }
      .front-cover {
        width: 149px;
        height: 114px;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;

        div {
          text-align: center;
          color: #565656;
          font-family: $font-300;
          font-size: 13px;
          &:nth-child(1) {
            font-weight: 800;
            border-bottom: 1px solid #565656;
            padding-bottom: 8px;
            margin: 8px 19px;
          }
        }
      }
    }
  }
  .container-edition.canvas-soft-cover {
    &::before {
      width: 10px;
      background: transparent;
      border-left: 1px solid #707070;
      border-right: 1px solid #707070;
    }
  }
  .container-edition.canvas-hard-cover {
    #page-left,
    #page-right {
      border-width: 45px 60px;
    }
    &::before {
      width: 20px;
      background: transparent;
      border-left: 1px solid #707070;
      border-right: 1px solid #707070;
      margin-left: calc(50% - 10px);
      position: absolute;
      z-index: 1;
    }
  }

  .container-edition.intro {
    #page-left {
      background: #d9d9d9;
    }
    &::before {
      z-index: -1;
    }
    .page {
      &-left {
        border: 1px solid transparent;
      }
    }
  }
  .container-edition.signature {
    #page-right {
      background: #d9d9d9;
    }
    &::before {
      z-index: -1;
    }
    .page {
      &-right {
        border: 1px solid transparent;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .page-edition {
    .container-edition {
      margin: 20px 0 0 20px;
      width: 900px;
      height: 600px;
      .canvas-soft-cover {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        margin: 10px;
        .page {
          padding: 15px;
          &-left {
            margin-right: 25px;
          }
          &-right {
            margin-left: 20px;
          }
        }
      }
      .canvas-hard-cover {
        width: calc(100% - 80px);
        height: calc(100% - 60px);
        margin: 30px 40px;
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  .page-edition {
    .container-edition {
      width: 750px;
      margin: 15px 0 0 15px;
      height: 475px;
      .canvas-soft-cover {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        margin: 10px;
        .page-left {
          width: 100%;
          margin-right: 20px;
        }
        .page-right {
          margin-left: 20px;
        }
      }
      .canvas-hard-cover {
        width: calc(100% - 80px);
        height: calc(100% - 60px);
        margin: 30px 40px;
      }
    }
  }
}
