$modal-height: 744px;
$modal-width: 1162px;

#portrait-flow {
  ::v-deep {
    .pp-modal {
      min-width: $modal-width;
      height: $modal-height;
      min-height: $modal-height;

      .pp-modal-title {
        margin-left: 29px;
        margin-right: 29px;

        .icon-back {
          top: 10px;
          left: 33px;
          color: $color-gray28;
          font-size: 27px;
        }
      }

      .v-card__text {
        display: flex;
        padding: 0;
      }

      .pp-modal-footer {
        justify-content: space-between;

        .accept {
          width: 239px;
        }
      }
    }
  }

  &.preview {
    ::v-deep {
      .pp-modal {
        .pp-modal-footer {
          justify-content: space-around;
        }
      }
    }
  }
}

.confirm-action {
  .collection-name-wrap {
    border: 1px solid $color-gray;
    padding: 10px;
    width: 300px;
    margin-inline: auto;
    margin-bottom: 20px;
  }
  .collection-name {
    color: $color-stoodio-blue;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  .portrait-note {
    font-style: italic;
    font-size: 13px;
    font-family: $font-300;
  }
}
