.smartbox-container {
  padding: 10px 29px;
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 74px;
    .keyword-title {
      font-family: $font-300;
      font-size: 15px;
      color: $color-stoodio-toolbartext;
      margin-right: 7px;
    }
  }
  .content {
    height: 500px;
    overflow: auto;
  }
  .got-it-container {
    width: 519px;
    top: 16px;
    left: 100px;
    transform: none;
    &::before {
      position: absolute;
      content: '';
      top: 1px;
      left: 45px;
      transform: translate(-50%, -100%);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 11px solid $color-stoodio-blue;
    }
  }
}
