.item {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-right: 18px;

  .item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    cursor: pointer;
    width: 100%;
    border: 0.5px solid #d1d3d4;
    border-radius: 4px !important;
    .v-icon {
      font-size: 18px;
      color: #58595b;
    }
  }
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: $font-300;
    font-size: 10px;
    margin-bottom: 0px;
    color: #58595b;
  }

  &--active {
    .item-icon {
      background-color: #42738d;
      .v-icon {
        color: white !important;
      }
    }
  }

  &--prompt {
    .item-icon {
      z-index: 99;
    }
  }
}
