.preview-thumbnail {
  width: 242px;
  height: 314px;
  background-size: cover;
  background-position: center;

  .thumb-wrapper {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
  }
}
