.preview-thumbnail {
  width: 242px;
  height: 313px;
  background-size: cover;
  background-position: center;
  border: 1px solid $color-gray17;
  overflow: hidden;
  transition: all 0.55s;

  &.landscape {
    width: 280px;
    height: 158px;
  }

  &.thumb-preview-enter-active {
    position: absolute;
    opacity: 0;
  }

  &.thumb-preview-enter-to {
    opacity: 1;
  }

  &.thumb-preview-leave-active {
    opacity: 1;
  }

  &.thumb-preview-leave-to {
    opacity: 0;
  }

  .thumb-wrapper {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
  }
}
