.themes-container {
  .theme-item-container {
    display: flex;
    flex-wrap: wrap;
  }

  .tool-popover-content {
    padding: 17px 22px 50px;
  }

  .pp-selected-theme {
    &--header {
      height: 45px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #bcbec0;
      padding: 0 12px;

      &--selected-title {
        font-size: 11px;
        font-family: $font-300;
        margin-right: 10px;
        margin-top: 2px;
      }

      .pp-select {
        .v-input__slot {
          width: 200px;
          margin-bottom: 0;

          .v-select__selection {
            font-family: $font-500;
            margin-top: 9px;
          }
        }
      }
    }
  }
}
