@charset "utf-8";

@import '@/scss/variables';

$margin-right: 8px;

.manager-main {
  .manager-section-list {
    .section-header {
      .section-name {
        display: flex;
        flex-direction: row;
        align-items: center;

        .drag-control {
          margin-right: $margin-right;
        }
  
        .dot {
          display: inline-block;
          height: 12px;
          width: 12px;
          margin-right: $margin-right;
          border-radius: 50%;
        }
  
        img {
          width: 5px;
          height: 10px;
          margin-right: 6px;

          &[data-toggle="expand"] {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
