$border-radius: 6px;

.chart-container {
  width: 100%;
  padding: 35px 23px;

  .chart-header {
    width: 100%;
    padding-top: 66px;
    padding-left: 134px;

    &::v-deep .blocks {
      &.months {
        height: 32px;

        .block {
          padding: 8px;
          padding-top: 11px;
          color: $color-white;
          line-height: 14px;
          font-family: $font-700;
          font-size: $sm-size;
          background-color: $color-darkblue;

          &:first-of-type {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }

          &:last-of-type {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }
        }
      }

      &.month-names {
        margin-top: 3px;
        padding: 1px 0;
        height: 15px;

        .block {
          margin: 0;
          padding: 0;
          background-color: transparent;

          span {
            margin-left: -100%;
            color: $color-gray5;
            text-align: center;
            line-height: $md-size;
            font-size: 11px;
          }
        }
      }
    }
  }

  .chart-body {
    width: 100%;
  }
}
