.slide-container {
  display: flex;
  width: 100%;
  flex-direction: column;

  .slide-content {
    display: flex;
    width: 100%;
    justify-content: space-between;

    ::v-deep {
      .preview-thumbnail {
        width: 329px;
        height: 429px;
      }
    }

    &.not-full {
      justify-content: center;
    }
  }
}
