.pp-select-multi {
  ::v-deep .v-menu__content {
    overflow: visible;
    contain: none;

    .pp-select-sub {
      display: none;
    }
  }

  &--item {
    &:not(.item-selected):hover {
      .pp-select-sub {
        display: block;
      }
    }
  }
}
