.control-container {
  margin: auto 6px;
  flex-grow: 1;

  >div {
    margin-bottom: 5px;
  }

  .control-title {
    font-size: 13px;
    font-family: $font-500;
    font-weight: 600;

    &::after {
      content: "\003A";
    }
  }
}