$margin-right: 8px;

.manager-main {
  .manager-section-list {
    .section-header {
      .section-name {
        display: flex;
        flex-direction: row;
        align-items: center;

        .drag-control {
          margin-right: $margin-right;
        }

        .dot {
          display: inline-block;
          height: 12px;
          width: 12px;
          background-color: #925ddb;
          margin-right: $margin-right;
          border-radius: 50%;
        }

        .input-container {
          min-width: 25%;
          div {
            cursor: text;
            padding: 2px;
            height: 100%;
            border: 1px dashed transparent;
            &:hover {
              border: 1px dashed $color-gray;
            }
          }

          input {
            display: none;
            padding: 2px;
            min-width: 25%;
            height: 100%;
            border: 1px dashed transparent;
            &:hover {
              border: 1px dashed $color-gray;
            }

            &:focus {
              outline: none;
              border: 1px solid $color-darkblue;
            }
          }
        }

        img {
          width: 5px;
          height: 10px;
          margin-right: 4px;

          &[data-toggle='expand'] {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
