$margin-right: 8px;
$width: 12px;

.manager-main {
  .manager-section-list {
    .section-header {
      .section-name {
        display: flex;
        flex-direction: row;
        align-items: center;

        .drag-control {
          margin-right: $margin-right;
        }

        .dot {
          display: inline-block;
          min-width: $width;
          max-width: $width;
          height: $width;
          margin-right: $margin-right;
        }

        .input-container {
          min-width: 25%;

          div {
            padding: 2px;
            padding-right: 4px;
            height: 100%;
            border: 1px dashed transparent;
            cursor: text;

            &:hover {
              border-color: $color-gray;
            }
          }

          input {
            padding: 2px;
            padding-right: 4px;
            min-width: 25%;
            height: 100%;

            &:focus {
              outline: none;
              border: 1px solid $color-stoodio-blue;
            }
          }
        }

        .v-icon {
          height: 21px;
          margin-left: -10px;
          margin-right: -5px;
          color: $color-gray5;

          &.disabled {
            opacity: 0.3;
          }

          &[data-toggle='expand'] {
            margin-right: -6px;
            font-size: 25px;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
