$margin-right: 8px;
$width: 12px;

.manager-main {
  .manager-section-list {
    .section-header {
      .section-name {
        display: flex;
        flex-direction: row;
        align-items: center;

        .drag-control {
          margin-right: $margin-right;
        }

        .dot {
          display: inline-block;
          min-width: $width;
          max-width: $width;
          height: $width;
          margin-right: $margin-right;
        }

        .input-container {
          min-width: 25%;

          div {
            cursor: text;
            padding: 2px;
            padding-right: 4px;
            height: 100%;
            border: 1px dashed transparent;
            &:not(.disabled):hover {
              border-color: $color-gray;
            }
          }

          input {
            padding: 2px;
            padding-right: 4px;
            min-width: 25%;
            height: 100%;

            &:focus {
              outline: none;
              border: 1px solid $color-stoodio-blue;
            }
          }
        }

        img {
          width: 5px;
          height: 10px;
          margin-right: 4px;

          &[data-toggle='expand'] {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
