$rulerWidth: 23px;

.page-wrapper {
  position: absolute;
  width: 100%;
  height: calc(100% - 6px);
  top: 0;
  left: 0;
  background-color: $color-white4;
  overflow: hidden;

  &.scroll-x {
    overflow-x: auto;
  }

  &.scroll-y {
    overflow-y: auto;
  }

  .ruler-wrapper {
    width: 100%;
    height: $rulerWidth;
    background-color: $color-white;
    border: 1px solid $color-gray40;
    border-width: 0 0 1px 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: $rulerWidth;
      height: $rulerWidth;
      background-color: $color-gray11;
      top: 0;
      left: 0;
    }
  }

  .ruler-y-wrapper {
    width: $rulerWidth;
    height: 100%;
    background-color: $color-white;
    border: 1px solid $color-gray40;
    border-width: 0 1px 0 0;
  }

  .ruler-x-placeholder,
  .ruler-y-placeholder {
    position: absolute;
    overflow: hidden;
  }

  .ruler-x-placeholder {
    top: 0;
    height: $rulerWidth;
    left: $rulerWidth - 1;
    right: 0;
    background-color: $color-white;
    border: 1px solid $color-gray40;
    border-top-width: 0;
    border-right-width: 0;
  }

  .ruler-y-placeholder {
    top: $rulerWidth - 1;
    bottom: 0;
    left: 0;
    width: $rulerWidth;
    background-color: white;
    border: 1px solid $color-gray40;
    border-bottom-width: 0;
    border-left-width: 0;
  }

  .inner-ruler-wrapper {
    position: absolute;
    top: $rulerWidth;
    bottom: 10px;
    left: $rulerWidth;
    right: 10px;
  }
}
