$rulerWidth: 23px;

.page-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #f4f4f4;

  .ruler-wrapper {
    position: absolute;
    width: 100%;
    height: $rulerWidth;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: $rulerWidth;
      height: $rulerWidth;
      background-color: #d0d2d3;
      top: 0;
      left: 0;
    }
  }

  .ruler-x-placeholder,
  .ruler-y-placeholder {
    position: absolute;
  }

  .ruler-x-placeholder {
    top: 0;
    height: $rulerWidth;
    left: $rulerWidth - 1;
    right: 0;
    background-color: white;
    border: 1px solid #b4b4b5;
    border-top-width: 0;
    border-right-width: 0;
  }

  .ruler-y-placeholder {
    top: $rulerWidth - 1;
    bottom: 0;
    left: 0;
    width: $rulerWidth;
    background-color: white;
    border: 1px solid #b4b4b5;
    border-bottom-width: 0;
    border-left-width: 0;
  }

  .inner-ruler-wrapper {
    position: absolute;
    top: $rulerWidth;
    bottom: 10px;
    left: $rulerWidth;
    right: 10px;
  }
}
