// .v-dialog > .v-card > .v-card__title {
//   margin: 0 26px;
//   padding: 0;
// }
.modal-theme-body {
  padding: 16px 26px;
}

.modal-theme-footer {
  border-top: 1px solid #707070;
  padding: 16px;
  .pp-btn {
    width: 114px;
    height: 32px;
    margin: 0 auto;
  }
}

// .v-dialog.pp-modal .v-sheet.v-card .v-card__text {
//   padding: 0px;
// }
