.thumbnail-view-header {
  .header-container {
    margin-left: -5px;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  .sheet-container > div {
    margin-bottom: 13px;
  }
}

.thumbnail-view-header > div {
  align-items: center;
  cursor: pointer;
  .header-color {
    width: 12px;
    height: 12px;
    background-color: brown;
    border-radius: 100%;
  }
  .header-name {
    font-family: $font-700;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    font-family: $font-300;
    margin-left: 5px;
  }
  .v-icon {
    font-size: 28px;
    color: #58595b;
  }
}
@media screen and (max-width: 1366px) {
  .thumbnail-view-header > div {
    .header-color {
      width: 10px;
      height: 10px;
    }
    .header-name {
      font-size: 10px;
    }
  }
}
