.manager-main {
  .manager-section-list {
    .section-details-wrapper {
      .section-details {
        .indicator {
          height: 140px;

          &.indicator-left {
            margin-left: -40px;
            margin-right: 38px;
          }

          &.indicator-right {
            margin-left: 38px;
            margin-right: -40px;
          }
        }

        .sheet-box {
          flex-basis: $length-sheet;
          flex-grow: 0;
          margin: $length-sheet-padding;
          margin-bottom: 0;

          &.drag-target-before {
            .indicator-left {
              display: block;
            }
          }

          &.drag-target-after {
            .indicator-right {
              display: block;
            }
          }

          .sheet {
            position: relative;
            height: 140px;
            border: 1px $color-gray2 solid;

            &:hover {
              cursor: pointer;
              background-color: $color-white2;
              border-color: $color-gray4;

              .menu {
                .menu-icon {
                  display: block;
                }
              }
            }

            .drag-control {
              margin: 2px;
            }

            .menu {
              position: absolute;
              top: 3px;
              left: calc(100% - 102px);
              z-index: 2;
              width: 178px;

              .menu-icon {
                margin: 0 auto;
                display: none;
                width: 18px;
                height: 18px;
              }

              .menu-detail {
                padding: 10px;
                border-radius: 4px;
                width: 100%;
                background-color: #fff;
                box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
                margin-top: 16px;
                position: relative;
                .menu-button {
                  padding: 0 0 7px 0 !important;
                }
                .menu-item {
                  cursor: pointer;
                  width: 100%;
                  border-bottom: 0.5px solid $color-gray2;
                  position: relative;

                  .title {
                    .arrow-down {
                      width: 10px;
                      margin: 0 5px 0 1px;
                    }

                    span {
                      opacity: 0.5;
                    }
                  }

                  label {
                    display: block;
                    margin-bottom: 2px;
                  }

                  .menu-move-sheet {
                    background-color: #fff;
                    position: absolute;
                    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    top: 0;
                    left: 100%;
                    width: 220px;
                    padding: 8px;

                    .menu-move-sheet-item {
                      display: flex;
                      align-items: center;
                      padding: 8px;
                      font-size: 13px;

                      .menu-move-sheet-color {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-right: 6px;
                      }

                      &:hover {
                        background-color: #eaf2f5;
                      }
                    }
                  }
                }

                .menu-button {
                  padding: 0;
                }

                &::before {
                  position: absolute;
                  content: '';
                  top: 0;
                  left: 50%;
                  transform: translateX(-50%);
                  transform: translate(-50%, -100%);
                  width: 4px;
                  height: 13px;
                  border-left: 7px solid transparent;
                  border-right: 7px solid transparent;
                  border-bottom: 13px solid #fff;
                }
              }
            }
          }

          .vertical {
            width: 50%;
            max-width: 50%;
            margin: auto;
          }

          .horizontal {
            width: 100%;
          }

          .sheet-name {
            margin-top: 10px;
            text-align: center;
          }

          &:nth-child(4n) {
            .sheet {
              .menu {
                .menu-detail {
                  .menu-item {
                    .menu-move-sheet {
                      left: -140%;
                    }
                  }
                }
              }
            }
          }

          @media screen and (max-width: 1366px) {
            &:nth-child(3n) {
              .sheet {
                .menu {
                  .menu-detail {
                    .menu-item {
                      .menu-move-sheet {
                        left: -140%;
                      }
                    }
                  }
                }
              }
            }
            &:nth-child(4n) {
              .sheet {
                .menu {
                  .menu-detail {
                    .menu-item {
                      .menu-move-sheet {
                        left: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
