.print-thumbnail-view {
  margin: 0;
}

.row.thumbnail-view-row {
  margin: 0;
  padding: 0 100px 80px 100px;
  background: $color-white4;
  height: calc(100vh - 135px);
  overflow: auto;
  align-content: flex-start;
  &::-webkit-scrollbar {
    display: none;
  }
}

.menu-button {
  border-top: 1px solid $color-gray2;
  padding: 10px 0 0;
  margin: 0 10px;
  display: flex;
  button {
    font-family: $font-500;
    color: $color-gray5;
    font-size: 13px;
    background-color: $color-white4;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    &:last-child {
      margin-left: 10px;
    }
  }
}
