.toolname-container {
  width: 562px;
  z-index: 1000;
  border-radius: 5px;
  position: absolute;
  left: 20px;
  top: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000009a;
}
