.pp-modal-title-theme {
  .text-size-xl.text-title {
    font-family: $font-500;
    font-size: 18px;
  }
}

.modal-theme-title {
  font-family: $font-500;
  font-size: 13px;
  text-align: center;
  color: #565656;
  line-height: 14px;
}
.modal-theme-note {
  font-family: $font-300;
  text-align: center;
  font-size: 11px;
  font-style: italic;
  margin-bottom: 16px;
}
.modal-theme-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 390px;
  overflow: auto;
  .modal-theme-item {
    width: 16%;
    margin-right: 4%;
    margin-bottom: 14px;
    .modal-theme-name {
      margin-top: 4px;
      font-family: $font-500;
      text-align: center;
      font-size: 13px;
      color: #58595b;
    }
    .modal-theme-img {
      position: relative;
      border: 2px solid #fff;
      cursor: pointer;
      img {
        vertical-align: bottom;
      }
      .modal-theme-layer {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(88, 89, 91, 0.75);
        position: absolute;
        display: none;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .modal-theme-icon {
          background-color: #58595b;
          opacity: 1;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.75);
          }
        }
        .modal-theme-label {
          font-family: $font-500;
          font-size: 13px;
          color: #fff;
          opacity: 0.75;
        }
      }
      &:hover {
        .modal-theme-layer {
          display: flex;
        }
      }
    }
    &.active {
      .modal-theme-img {
        border: 2px solid #42738d;
      }
      .modal-theme-name {
        color: #42738d;
      }
    }
  }
}
