.thumbnail-view-thumbnail {
  width: 100%;
  border: 1px solid #8c8c8c;
  position: relative;
  background-color: #fff;
  flex-wrap: nowrap;
  position: relative;
  box-sizing: border-box;
  &.active {
    border: 2px solid #42738d;
  }
  &::before {
    content: '';
    height: 100%;
    border-right: 1px solid #8c8c8c;
    margin-left: calc(50% - 1px);
    position: absolute;
  }
  &.half-left::before {
    content: '';
    height: 100%;
    background: #f4f4f4;
    border-right: 1px solid #8c8c8c;
    padding-right: 50%;
    margin-left: 0;
    position: absolute;
  }
  &.half-right::before {
    content: '';
    height: 100%;
    background: #f4f4f4;
    border-left: 1px solid #8c8c8c;
    padding-left: 50%;
    margin-right: 0;
    position: absolute;
  }
}

.thumbnail-edit {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #42738d;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
  .icon-edit {
    font-size: 20px;
    transform: translateY(-3px);
    color: #ffffff;
  }
  &:hover {
    border: 1px solid #42738d;
  }
}

.thumbnail-view-number-page {
  color: #8c8c8c;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  position: relative;
  font-family: $font-300;
}

.number-page-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .icon-link {
    font-size: 20px;
    font-weight: 600;
    color: #afafaf;
  }
}
