.text-uppercase {
  text-transform: uppercase;
}

.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.dot {
  min-width: 6px;
  max-width: 6px;
  height: 6px;
  border-radius: 50%;
}

.invisible {
  visibility: hidden !important;
}

.virtual {
  display: contents;
}

[class*='disabled'] {
  opacity: 0.4 !important; // override
  pointer-events: none;
}
