.text-uppercase {
  text-transform: uppercase;
}

.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

[class*='disabled'] {
  opacity: 0.4 !important; // override
  pointer-events: none;
}
