@font-face {
  font-family: 'MuseoSans 100';
  src: url(~@/assets/fonts/MuseoSans-100.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans 100 Italic';
  src: url(~@/assets/fonts/MuseoSans-100Italic.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans 300';
  src: url(~@/assets/fonts/MuseoSans-300.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans 300 Italic';
  src: url(~@/assets/fonts/MuseoSans-300Italic.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans 500';
  src: url(~@/assets/fonts/MuseoSans-500.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans 500 Italic';
  src: url(~@/assets/fonts/MuseoSans-500Italic.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans 700';
  src: url(~@/assets/fonts/MuseoSans-700.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans 700 Italic';
  src: url(~@/assets/fonts/MuseoSans-700Italic.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans 900';
  src: url(~@/assets/fonts/MuseoSans-900.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans 900 Italic';
  src: url(~@/assets/fonts/MuseoSans-900Italic.otf) format('opentype');
}