@import './_extend';
@import './variables';

p,
.container,
.row,
.row + .row,
.col {
  @extend %no-padding-margin;
}

@for $i from 2 through 12 {
  .col-#{$i} {
    @extend %no-padding-margin;
  }
}

img {
  width: 100%;
  height: auto;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

html,
body,
.container {
  height: 100%;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: $width-scroll;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 $margin-scroll transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-darkblue;
  border-radius: $margin-scroll;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-darkblue;
}

.scroll-container {
  margin-right: $margin-scroll;
}

.color-picker-popover {
  height: 360px;
  .color-picker-content {
    height: 100%;
  }
}
