$translate-gap: 5%;
$mask-length: 10%;
$mask-overlay: 1%;

.thumb {
  width: 100%;
  height: 100%;
  background-size: cover;

  /** ======= [NONE] ======= **/
  &.transition-0--enter-active {
    position: absolute;
  }

  /** ======= [PUSH] ======= **/

  /** [TOP BOTTOM] START **/
  &.transition-1-2-enter-active {
    position: absolute;
    transform: translateY(-100%) translateY(#{- $translate-gap});
  }

  &.transition-1-2-enter-to {
    transform: translateY(0);
  }

  &.transition-1-2-leave-active {
    transform: translateY(0);
  }

  &.transition-1-2-leave-to {
    transform: translateY(100%) translateY(#{$translate-gap});
  }
  /** [TOP BOTTOM] END **/

  /** [BOTTOM TOP] START **/
  &.transition-1-3-enter-active {
    position: absolute;
    transform: translateY(100%) translateY(#{$translate-gap});
  }

  &.transition-1-3-enter-to {
    transform: translateY(0);
  }

  &.transition-1-3-leave-active {
    transform: translateY(0);
  }

  &.transition-1-3-leave-to {
    transform: translateY(-100%) translateY(#{- $translate-gap});
  }
  /** [TOP BOTTOM] END **/

  /** [LEFT RIGHT] START **/
  &.transition-1-0-enter-active {
    position: absolute;
    transform: translateX(-100%) translateX(#{- $translate-gap});
  }

  &.transition-1-0-enter-to {
    transform: translateX(0);
  }

  &.transition-1-0-leave-active {
    transform: translateX(0);
  }

  &.transition-1-0-leave-to {
    transform: translateX(100%) translateX(#{$translate-gap});
  }
  /** [LEFT RIGHT] END **/

  /** [RIGHT LEFT] START **/
  &.transition-1-1-enter-active {
    position: absolute;
    transform: translateX(100%) translateX(#{$translate-gap});
  }

  &.transition-1-1-enter-to {
    transform: translateX(0);
  }

  &.transition-1-1-leave-active {
    transform: translateX(0);
  }

  &.transition-1-1-leave-to {
    transform: translateX(-100%) translateX(#{- $translate-gap});
  }
  /** [RIGHT LEFT] END **/

  /** ======= [MOVE IN] ======= **/
  &.transition-2-0-leave-active,
  &.transition-2-1-leave-active,
  &.transition-2-2-leave-active,
  &.transition-2-3-leave-active {
    z-index: 0;
  }

  /** [TOP BOTTOM] START **/
  &.transition-2-2-enter-active {
    position: absolute;
    z-index: 1;
    transform: translateY(-100%);
  }

  &.transition-2-2-enter-to {
    transform: translateY(0);
  }
  /** [TOP BOTTOM] END **/

  /** [BOTTOM TOP] START **/
  &.transition-2-3-enter-active {
    position: absolute;
    z-index: 1;
    transform: translateY(100%);
  }

  &.transition-2-3-enter-to {
    transform: translateY(0);
  }
  /** [TOP BOTTOM] END **/

  /** [LEFT RIGHT] START **/
  &.transition-2-0-enter-active {
    position: absolute;
    z-index: 1;
    transform: translateX(-100%);
  }

  &.transition-2-0-enter-to {
    transform: translateX(0);
  }
  /** [LEFT RIGHT] END **/

  /** [RIGHT LEFT] START **/
  &.transition-2-1-enter-active {
    position: absolute;
    z-index: 1;
    transform: translateX(100%);
  }

  &.transition-2-1-enter-to {
    transform: translateX(0);
  }
  /** [RIGHT LEFT] END **/

  /** ======= [DISSOLVE] ======= **/
  &.transition-3--enter-active {
    position: absolute;
    opacity: 0;
  }

  &.transition-3--enter-to {
    opacity: 1;
  }

  &.transition-3--leave-active {
    z-index: 1;
  }

  &.transition-3--leave-to {
    opacity: 0;
  }

  /** ======= [REVEAL] ======= **/

  /** [TOP BOTTOM] START **/
  &.transition-4-2-enter-active {
    position: absolute;
  }

  &.transition-4-2-leave-active {
    z-index: 1;
    transform: translateY(0);
  }

  &.transition-4-2-leave-to {
    transform: translateY(100%);
  }
  /** [TOP BOTTOM] END **/

  /** [BOTTOM TOP] START **/
  &.transition-4-3-enter-active {
    position: absolute;
  }

  &.transition-4-3-leave-active {
    z-index: 1;
    transform: translateY(0);
  }

  &.transition-4-3-leave-to {
    transform: translateY(-100%);
  }
  /** [TOP BOTTOM] END **/

  /** [LEFT RIGHT] START **/
  &.transition-4-0-enter-active {
    position: absolute;
  }

  &.transition-4-0-leave-active {
    z-index: 1;
    transform: translateX(0);
  }

  &.transition-4-0-leave-to {
    transform: translateX(100%);
  }
  /** [LEFT RIGHT] END **/

  /** [RIGHT LEFT] START **/
  &.transition-4-1-enter-active {
    position: absolute;
  }

  &.transition-4-1-leave-active {
    z-index: 1;
    transform: translateX(0);
  }

  &.transition-4-1-leave-to {
    transform: translateX(-100%);
  }
  /** [RIGHT LEFT] END **/

  /** ======= [TRANSITION - WIPE] ======= **/

  /** [TOP BOTTOM] START **/
  &.transition-5-2-leave-active {
    position: absolute;
    z-index: 1;
    clip-path: inset(0 0 0 0);
  }

  &.transition-5-2-leave-to {
    clip-path: inset(#{- $mask-overlay + $mask-length + 100%} 0 0 0);
  }
  /** [TOP BOTTOM] END **/

  /** [BOTTOM TOP] START **/
  &.transition-5-3-leave-active {
    position: absolute;
    z-index: 1;
    clip-path: inset(0 0 0 0);
  }

  &.transition-5-3-leave-to {
    clip-path: inset(0 0 #{- $mask-overlay + $mask-length + 100%} 0);
  }
  /** [TOP BOTTOM] END **/

  /** [LEFT RIGHT] START **/
  &.transition-5-0-leave-active {
    position: absolute;
    z-index: 1;
    clip-path: inset(0 0 0 0);
  }

  &.transition-5-0-leave-to {
    clip-path: inset(0 0 0 #{- $mask-overlay + $mask-length + 100%});
  }
  /** [LEFT RIGHT] END **/

  /** [RIGHT LEFT] START **/
  &.transition-5-1-leave-active {
    position: absolute;
    z-index: 1;
    clip-path: inset(0 0 0 0);
  }

  &.transition-5-1-leave-to {
    clip-path: inset(0 #{- $mask-overlay + $mask-length + 100%} 0 0);
  }
  /** [RIGHT LEFT] END **/
}

.thumb-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  mask-repeat: no-repeat;

  /** ======= [TRANSITION - WIPE] ======= **/

  /** [TOP BOTTOM] START **/
  &.transition-5-2-enter-active {
    display: flex;
    z-index: 99;
    mask-size: 100% $mask-length;
    mask-position: left 0 top #{$mask-overlay - $mask-length};
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  &.transition-5-2-enter-to {
    mask-position: left 0 top #{$mask-length + 100%};
  }
  /** [TOP BOTTOM] END **/

  /** [BOTTOM TOP] START **/
  &.transition-5-3-enter-active {
    display: flex;
    z-index: 99;
    mask-size: 100% $mask-length;
    mask-position: left 0 bottom #{$mask-overlay - $mask-length};
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  &.transition-5-3-enter-to {
    mask-position: left 0 bottom #{$mask-length + 100%};
  }
  /** [BOTTOM TOP] END **/

  /** [LEFT RIGHT] START **/
  &.transition-5-0-enter-active {
    display: flex;
    z-index: 99;
    mask-size: $mask-length 100%;
    mask-position: left #{$mask-overlay - $mask-length} top 0;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 1, 1));
  }

  &.transition-5-0-enter-to {
    mask-position: left #{$mask-length + 100%} top 0;
  }
  /** [LEFT RIGHT] END **/

  /** [RIGHT LEFT] START **/
  &.transition-5-1-enter-active {
    display: flex;
    z-index: 99;
    mask-size: $mask-length 100%;
    mask-position: right #{$mask-overlay - $mask-length} top 0;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  &.transition-5-1-enter-to {
    mask-position: right #{$mask-length + 100%} top 0;
  }
  /** [RIGHT LEFT] END **/
}
