$color-stoodio-blue: #42738d;
$color-stoodio-lightblue: #c3d2d9;
$color-stoodio-toolbartext: #58595b;
$color-stoodio-lightgray: #ededed;

$color-black: #000000;
$color-black1: #0000005f;
$color-black3: #00000080;
$color-red: #db0000;
$color-red2: #c40808;
$color-red3: #d10000;
$color-white: #ffffff;
$color-white2: #fcfcfc;
$color-white3: #fafafa;
$color-white4: #f4f4f4;
$color-white5: #ffffff80;
$color-gray: #bbbbbd;
$color-gray2: #8c8c8c;
$color-gray4: #6f6f6f;
$color-gray5: #565656;
$color-gray6: #808184;
$color-gray7: #d3d3d3;
$color-gray8: #d0d0d050;
$color-gray9: #a2a2a2;
$color-gray10: #d0d0d080;
$color-gray11: #d0d2d3;
$color-gray12: #9e9e9f;
$color-gray13: #919191;
$color-gray14: #afafaf;
$color-gray15: #bcbec0;
$color-gray16: #4a4844;
$color-gray17: #b7b9bb;
$color-gray18: #999ea2;
$color-gray19: #939393;
$color-gray20: #f5f5f5;
$color-gray21: #dddddd;
$color-gray22: #d5d5d5;
$color-gray23: #bcbec040;
$color-gray24: #cbcbcb;
$color-gray25: #454545;
$color-gray26: #e6e6e6;
$color-gray27: #c1c1c1;
$color-gray28: #707070;
$color-gray29: #b7b9bb;
$color-blue: blue;
$color-blue1: #eaf2f5;
$color-blue2: #9cb6c4;
$color-disabled: darkgray;

// Font Family
$font-100: 'MuseoSans 100';
$font-100-italic: 'MuseoSans 100 Italic';
$font-300: 'MuseoSans 300';
$font-300-italic: 'MuseoSans 300 Italic';
$font-500: 'MuseoSans 500';
$font-500-italic: 'MuseoSans 500 Italic';
$font-700: 'MuseoSans 700';
$font-700-italic: 'MuseoSans 700 italic';
$font-900: 'MuseoSans 900';
$font-900-talic: 'MuseoSans 900 Italic';

// Font Size
$xxs-size: 9px;
$xs-size: 10px;
$xsm-size: 11px;
$sm-size: 12px;
$md-size: 13px;
$lg-size: 18px;
$xl-size: 21px;

$length-sheet: 217px;
$length-sheet-padding: 39px;

$width-scroll: 4px;
$margin-scroll: 3px;

$properties-width: 320px;

$process-section-padding: 8px;
$process-section-border: 1px solid $color-gray2;
$process-section-border2: 1px solid $color-gray5;
