$red-color: #db0000;
$color-white: #ffffff;
$color-gray: #bbbbbd;
$color-gray2: #8c8c8c;
$color-gray3: #fafafa;
$color-darkblue: #42738d;
// Font Family
$font-100: "MuseoSans 100";
$font-100-italic: "MuseoSans 100 Italic";
$font-300: "MuseoSans 300";
$font-300-italic: "MuseoSans 300 Italic";
$font-500: "MuseoSans 500";
$font-500-italic: "MuseoSans 500 Italic";
$font-700: "MuseoSans 700";
$font-700-italic: "MuseoSans 700 italic";
$font-900: "MuseoSans 900";
$font-900-talic: "MuseoSans 900 Italic";

// Font Size
$xxs-size: 9px;
$xs-size: 10px;
$sm-size: 12px;
$md-size: 13px;
$lg-size: 18px;
$xl-size: 21px;

$border: 1px solid $color-gray;
