@charset "utf-8";

@import '@/scss/variables';

$border-album: 1px $color-gray2 solid;
$box-width: 217px;
$box-height: 140px;
$box-vertical-width: 109px;
$detail-padding: 30px;

.manager-main {
  .manager-section-list {
    .section-detail-container {
      &[data-toggle='collapse'] {
        display: none !important;
      }
    }

    .section-details-wrapper {
      width: 100%;
      min-height: 225px;
      padding: 0 80px $detail-padding 80px;
      font-family: $font-700;
      background-color: $color-white;
      border-top: $border;

      .section-details {
        max-width: ($box-width + ($detail-padding * 2)) * 4;

        .sheet-box {
          width: $box-width;
          float: left;
          margin: $detail-padding $detail-padding 0 $detail-padding;
          position: relative;

          .vertical {
            width: $box-vertical-width;
            max-width: $box-vertical-width;
            height: $box-height;
            margin: auto;
            border: $border-album;
          }

          .horizontal {
            width: 100%;
            height: $box-height;
            border: $border-album;
          }

          .sheet-name {
            margin-top: 10px;
            text-align: center;
          }

          img {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 18px;
            height: 18px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
