::v-deep .modal-crop-control.v-dialog {
  width: 1162px;
  height: 744px;
  background-color: $color-white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: $color-stoodio-blue;
  border-bottom: 1px solid $color-gray17;
}

.body {
  height: calc(100% - 100px);
  overflow: hidden;
  position: relative;

  .clipper {
    width: 100%;
    height: 100%;
  }

  .controls {
    display: flex;
    width: 500px;
    height: 60px;
    padding: 6px;
    background-color: $color-white;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 250px);
    border: 1px solid $color-gray36;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: $color-white4;

  .pp-btn {
    margin: 0 5px;
  }

  &::v-deep {
    .pp-btn {
      width: 100px;
      height: 32px;
    }

    .cancel-btn {
      .pp-btn {
        background-color: $color-gray19;
        border-color: $color-gray19;
        color: white;
      }
    }
  }
}