.flow-settings-container {
  height: 100%;
  width: 100%;
  padding: 0 26px 0 18px;
  .title-setting {
    color: $color-gray5;
    font-size: 16px;
    font-family: $font-500;
    margin: 10px 0;
  }
  .flow-settings-content {
    .flow-settings-multiple {
      margin-top: 24px;
      .page-select {
        ::v-deep .page-select-item {
          .page-select-item-descript {
            width: 168px;
          }
          .page-select-item-title {
            width: 66px;
          }
        }
      }
    }
    .page-select {
      margin-top: 15px;
    }
  }
}
