@charset "utf-8";

@import '@/scss/variables';

$space: 15px;

.manager-main {
  .manager-section-list {
    .section-header {
      .section-process {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .dot {
          height: 6px;
          width: 6px;
          z-index: 1;
          border-radius: 50%;
          display: inline-block;
        }

        .process {
          width: 45px;
          height: 6px;
          margin-right: 1px;
          background-color: $color-gray;

          &.in-progress {
            margin-left: -3px !important;
          }

          &.completed {
          }

          &.approved {
            margin-right: $space;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }

        .first-release {
          margin-right: $space;
        }

        img {
          width: 18px;
          height: 18px;
          cursor: pointer;
        }

        .pp-progress {
          width: 140px;
        }
      }
    }
  }
}
.menu-button {
  padding: 0 10px;

  button {
    font-family: 'MuseoSans 500';
    color: #565656;
    font-size: 13px;
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
}
