$space: 15px;
$process-width: 45px;

.manager-main {
  .manager-section-list {
    .section-header {
      .section-process {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .process-bar {
          width: ($process-width * 3) + 3;
          margin-right: $space;
        }

        .first-release {
          margin-right: $space;
        }

        img {
          width: 18px;
          height: 18px;
          cursor: pointer;
        }

        .pp-progress {
          width: 140px;
        }
      }
    }
  }
}
.menu-button {
  padding: 0 10px;

  button {
    font-family: $font-500;
    color: #565656;
    font-size: 13px;
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
}
