@charset "utf-8";

@import '@/scss/variables';

.manager-main {
  .manager-section-list {
    .section-item {
      .indicator-top {
        margin-top: -6px;
        margin-bottom: 4px;
      }

      .indicator-bottom {
        margin-top: 4px;
        margin-bottom: -6px;
      }
    }
  }
}
