.frame-container {
  margin: 18px 24px;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: -48px;
    content: '';
    display: block;
    width: 48px;
    height: calc(50% - 9px);
    border-bottom: 1px dashed $color-gray6;
  }

  .frame-item {
    cursor: pointer;
    width: 160px;
    height: 95px;
    background: $color-white;

    border: 0.5px solid $color-gray6;
    position: relative;

    &.add-frame {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: 1px dashed $color-gray6;

      .add-frame-content {
        font-size: 11px;
        font-family: $font-500;
        cursor: pointer;
      }

      .v-icon {
        font-size: 12px;
        color: $color-stoodio-toolbartext;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .frame-container {
    margin: 12px 20px;

    &::before {
      left: -41px;
      width: 40px;
    }

    .frame-item {
      width: 140px;
      height: 85px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .frame-container {
    margin: 10px 15px;

    &::before {
      left: -31px;
      width: 30px;
    }

    .frame-item {
      width: 120px;
      height: 70px;
    }
  }
}
