.text-field-property {
  .item-container {
    margin-right: 10px;
    .item-input {
      width: 74px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      border: 1px solid #bcbec0;
      border-radius: 3px;
      overflow: hidden;
      input {
        padding: 0 4px;
        line-height: 100%;
        width: 100%;
        outline: none;
        text-align: center;
        font-family: $font-500;
        color: $color-stoodio-toolbartext;
      }
      .input-label {
        font-family: $font-300;
        font-size: 11px;
        text-align: center;
        line-height: 24px;
        width: 35px;
        height: 100%;
        color: #fff;
        background-color: #58595b;
      }
    }
    .item-title {
      font-family: $font-300;
      text-align: center;
      font-size: 10px;
      height: 12px;
      margin: 0;
      margin-top: 2px;
      color: #58595b;
    }

    &.disabled {
      .input-label {
        background-color: $color-disabled;
      }
    }
  }
}
